<div class="message-container flexbox-start flex-item">
  <div class="message-content flex-item flexbox-columns">
    <ul class="message-header list-unstyled list-inline flex-item">
      <li><h6>Username</h6></li>
      <li class="date">May 12,  9:57am</li>
    </ul>
    <%= message.content %>
  </div>
</div>
