
<%# message = eval(message) %>
<% elements = message[:attachment][:payload][:elements] %>
<% text = message[:attachment][:payload][:text] %>
<% buttons = message[:attachment][:payload][:buttons] %>
<% image = message[:attachment][:payload][:url] %>

<!-- Second type identified: the 'Button' template -->
  <div class="carousel flexbox-columns-end">
    <!-- Iterating on the elements of the mssage in order to display all of them -->
    <div class="generic_card">
      <div class="structured-text">
        <%= text %>
      </div>

      <!-- Iterating on the buttons in order to display all the CTA -->
      <% buttons.each do |button| %>
        <div class="structured-button text-center">
          <p style="color:#0084FF;"><%= button.fetch(:title) %></p>
        </div>
      <% end %>
    </div>
  </div>
