.about {
  padding: 40px;
}

.about p {
  padding-bottom: 30px;
  text-align: justify;
  line-height: 30px;
}


.history {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-history {
  max-width: 520px;
  padding-right: 40px;
}

.about_features {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about_feature {
  max-width: 250px;
}

.about_feature p {
  text-align: left;
  padding-bottom: 0px;
  line-height: 20px;
}
