/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.banner {
  color: white;
  // text-align: center;
  height: 100vh;
  min-height: fill-available;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  // align-items: center;
  // justify-content: center;
}
.banner h1 {
  font-size: 50px;
  text-size-adjust: 70%;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.container h1 {
  color: #026FFD;
  font-weight: bold;
}

.container h3 {
  color: #026FFD;
  font-weight: bold;
}


.banner-content {
  width: 605px;
  padding-left: 33px;
  padding-right: 33px;
}

.container {
  color: #5C6A7C;
}

.icons {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.icon {
  padding-right: 25px;
  max-width: 360px;
}

.icons h2 {
  font-size: 27px;
}

.icon i {
  font-size:45px;
}

.icon_header:hover {
  color: #026FFD;
}

.icon p {
  font-size: 14px;
  line-height: 23px;
}


.features h1 {
  padding-top: 20px;
}

.examples h1 {
  padding-top: 30px;
}

.examples h2 {
  padding-bottom: 30px;
}

.chatting_entrance {
  max-width: 700px;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.flash {
  max-width: 275px;
}

.desktop {
  max-width: 275px;
}

.row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.avatars {
  display: flex;
  align-items: center;
}

.avatari p {
  margin: 0px;
}

.set-up p {
  margin: 0px;
}

.feedback {
  padding-bottom: 40px;
}

.riw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 300px;
  margin: 20px;
  padding: 5px;
  font-size: 25px;
  background-color: #2E85FF;
  border-radius: 20px;
  color: white;
}

.riw p {
  padding-bottom: 20px;
  font-size: 20px;
}

.rew {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.rew p {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #2E85FF;
}

.comparing {
  padding: 40px;
}

.newsletter {
  height: 40vh;
  min-height: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
}
