.how-it-works {
  padding: 40px;
}

.how-it-works h1 {
  color: #026FFD;
  font-weight: bold;
}

.how-it-works h3 {
  color: #026FFD;
}

.how-it-works p {
  padding-bottom: 30px;
  text-align: justify;
  line-height: 30px;
}

.process p {
  padding-bottom: 0px;
}

.how_flex {
  display: flex;
  justify-content: space-between;
}

.how_flex p {
  width: 620px;
}
