<div class="mini-navbar text-center">
  <div class="mini_navbar-content">
    <%= link_to t("Dashboard"), rooms_path, class: "navbar-wagon-item mini-navbar-link" %>
    <%= link_to t("Logs"), rooms_path, class: "navbar-wagon-item mini-navbar-link" %>
    <%#= link_to t("Backing"), room_path, class: "navbar-wagon-item mini-navbar-link" %>
    <%= link_to t("User accesses"), rooms_path, class: "navbar-wagon-item mini-navbar-link" %>
  </div>
</div>
