<div class="container">
  <h1 class="text-center"><strong>Heineken Case Study</strong></h1>

  <div class="row chapiter">
    <div class="col-sm-12 col-lg-6">
      <h2>Market analysis</h2>

      <p>During the week-ends, in many bars and pubs in Western Europe, queueing was becoming the #1 bottleneck for beer consumption.</p>


      <p>In 2014, Heineken marketshare remained flat but beers consumption in pubs decreased by -2.6%</p>

      <p>Distribution was becoming a greater issue than competition.</p>

      <p>In this mature market, any innovation that enable to outstand from the other beers could give a significant competitive edge.</p>
    </div>

    <div class="col-sm-12 col-lg-6 chapiter">
      <%=image_tag("heineken-queueing-at-bar.jpg", width: '450')%>
    </div>
  </div>

  <div class="row chapiter">
    <div class="col-sm-12 col-lg-8">
      <%=image_tag("heineken-european-sales-manager-large.jpg")%>
    </div>

    <div class="col-sm-12 col-lg-4">
      <p style="padding-top: 5px;"><strong>Adam</strong></p>
      <p>European sales manager</p>
      <p><em>"The queueing issue was getting insane. We had to do something. For many years we looked into the possibilities of mobile ordering and we had run many experiments, none were conclusive.</em></p>

      <p><em>We believed that it had to be dead simple so that anyone can do it. When we have heard of My Messaging Store, we instantly understand the possibilities of matching our brand culture will scaling rapidly. We knew instantly that we wanted to try it out."</em></p>
    </div>
  </div>

  <div class="phase">
    <h2>Phase 1: Defining customer needs and shapping the boot accordingly</h2>
    <h4>15th of September</h4>

    <ul>
      <li>
        Defining the 4 key criteria for closing an order:
          <ol>
            <li>
              Table number
            </li>
            <li>
              Brand available
            </li>
            <li>
              Each drink size
            </li>
            <li>
              The quantity
            </li>
          </ol>
      </li>
      <li>
        Setting up the ton of the bot
      </li>
      <li>
        Defining the top 50 default answers
      </li>
      <li>
        Defining the SLA during rush hours
      </li>
      <li>
        Selecting a bar for a pilot
      </li>
    </ul>

    <div class="col-sm-12 col-lg-8">
      <h2>Phase 2: Defining the marketing strategy</h2>
      <h4>17th of September</h4>

      Heineken marketing team decided to go for 2 kinds of display:
      <ul>
        <li>
          Over the main bar, there is a billboard with a QR code next to each drink picture. This code locks automatically criteria 2 and 3
        </li>
        <li>
          On each table, there is a QR code sticker. This code locks automatically criteria 1
        </li>
      </ul>
    </div>

    <div class="col-sm-12 col-lg-4">
        <%=image_tag("heineken-group-1.jpg", width: '350')%>
    </div>

    <h2>Phase 3: IT integration</h2>
    <h4>24th of September</h4>
    Plugging into the API of existing Point Of Sales in order to
    <ul>
      <li>
        Collect product inventory and product prices in real time
      </li>
      <li>
        Send  back the orders once paid
      </li>
    </ul>
    <div class="row">
      <div class="col-sm-12 col-lg-8">
        <h2>Phase 4: Runing a pilot</h2>
        <h4>28th of September</h4>
        <ul>
          <li>
            On the opening day, a demo was performed to all staff menmbers
          </li>
          <li>
            Over the first evening:
          </li>
            <ul>
              <li>
                68 conversations were opened
              </li>
              <li>
                27 orders were places
              </li>
              <li>
                61 beers were served
              </li>
              <li>
                100% of customers were happy
              </li>
            </ul>
        </ul>
      </div>
      <div class="col-sm-12 col-lg-4">
        <%=image_tag("heineken-group-2.jpg", width: '350')%>
      </div>
    </div>
    <h2>Phase 5: To be continued</h2>
    ...
  </div>

</div>
